.container{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 10px;
}
.btn{
    margin: 3px;
}
.field{
    width: 100%;
    font-size: medium;
}
.tb-padding--bottom-48 {
    padding-bottom: 48px;
}