<div fxLayout="column" fxLayoutAlign="center center" class="tb-height--full">

    <div class='tb-card--thin tb-border--r12 tb-padding--16'>
        <div fxLayout="row" fxLayuotAlign="center center" class="tb-padding--left-8">
            <h2 class="tb-color--red tb-typo--h2">Client Connection Pooling</h2>
        </div>
        <mat-divider></mat-divider>
        <div class="tb-padding--bottom-48"></div>
        <form [formGroup]="clientConnectionForm" fxLayout="column">
            <mat-form-field class="field" appearance="outline">
                <mat-label>ConnectionInitialSize</mat-label>
                <input type="number" formControlName="initialSize" matInput placeholder="Enter Connection Initial Size"
                    class="form-control" fxFlex>
            </mat-form-field>
            <mat-form-field class="field" appearance="outline">
                <mat-label>ConnectionMaxWait</mat-label>
                <input type="number" formControlName="maxWait" matInput placeholder="Enter Maximum Waiting Size"
                    class="form-control" fxFlex>
            </mat-form-field>
            <mat-form-field class="field" appearance="outline">
                <mat-label>ConnectionMaxActive</mat-label>
                <input type="number" formControlName="maxActive" matInput placeholder="Enter Maximum Active Size"
                    class="form-control" fxFlex>
            </mat-form-field>
            <mat-form-field class="field" appearance="outline">
                <mat-label>ConnectionMaxIdle</mat-label>
                <input type="number" formControlName="maxIdle" matInput placeholder="Enter Maximum Idle Size"
                    class="form-control" fxFlex>
            </mat-form-field>
            <mat-form-field class="field" appearance="outline">
                <mat-label>ConnectionMinIdele</mat-label>
                <input type="number" formControlName="minIdle" matInput placeholder="Enter Minimum Idle Size"
                    class="form-control" fxFlex>
            </mat-form-field>
            <button type="submit" (click)="onSubmit()" mat-raised-button color="primary" class="btn"
                [disabled]="clientConnectionForm.invalid">Submit</button>
            <button type="reset" mat-raised-button color="accent" class="btn">Reset</button>
        </form>

    </div>
</div>